@import 'tailwindcss';

@layer base {
  html,
  body {
    @apply text-white bg-gray-900;
  }
  dialog {
    color: inherit;
  }
  dialog button {
    color: inherit;
  }
}

:root {
  --bg-dark: hsl(0 0% 5%);
  --bg: hsl(0 0% 10%);
  --bg-light: hsl(0 0% 15%);

  --text-dark: hsl(0 0% 90%);
  --text: hsl(0 0% 95%);
  --text-light: hsl(0 0% 98%);

  --accent: #26e365;
  --accent-dark: #082e08;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Atkinson', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size:
    100% 600px,
    auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 1.7;
}
