---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description="The home page for danielslaugh.com" />
    <style>
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello!</h1>
      <p>Welcome to my website!</p>
    </main>
    <Footer />
  </body>
</html>
