---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
---

<!doctype html>
<html
  lang="en"
  class="bg-gray-700"
>
  <head>
    <BaseHead
      title="Home"
      description="The home page for danielslaugh.com"
    />
  </head>
  <body>
    <Header title="Home" />
  </body>
</html>
